<nav class="navBar-header-one">
    <div class="div-logo-head">
            <a href="#">
                <img src="/IMAGES/Logo_PH.png" alt="Logo">
            </a>
        </div>
    <div class="header-container">
        <div class="div-links">
            <ul>
                <li>
                    <a href="#">
                        Fábrica de Conteúdo
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cursos de Prateleira
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Biblioteca de Books
                    </a>
                </li>
                <li>
                    <a href="#">
                        Plataforma
                    </a>
                </li>
                <li>
                    <a href="#">
                        Consultoria
                    </a>
                </li>
            </ul>
        </div>
        <div class="agendamento">
            <button>
                Agende uma demonstração
            </button>
        </div>
    </div>
</nav>

